<ul class="nav nav-tabs">
    <li class="attending-tab active">My Events</li>
    <li class="spots-tab">My Spots</li>
</ul>
<div class="events">
    <% for (var i = 0; i < user.attended_events.length; i++) { %>
        <div class="event">
            <div class="event-name">
                <a href="/events/<%= user.attended_events[i]._id %>"><%= user.attended_events[i].name %></a>
            </div>
            <div class="event-duration" data-start-time="<%= user.attended_events[i].duration.starttime.getTime() %>" data-end-time="<%= user.attended_events[i].duration.endtime.getTime() %>"></div>
            <div class="event-location"><%= user.attended_events[i].address %></div>
        </div>
    <% } %>
</div>